@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");


.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:16px;
  padding-bottom:16px;
  background-color: rgb(46, 64, 88);
}

.createIncident form {
  width: 350px;
  display: flex;
  flex-direction: column;

  padding-top: 16px;
  padding-bottom: 16px;
  gap: 12px;
}

.formElement {
  display: flex;
  flex-direction: column;
  gap:4px;
}

.formElement label {
  color: white;
  font-size: roboto;
  font-size: 20px;
}

input, select, textarea  {
  background-color: rgb(201, 216, 221);
  color: rgb(16, 27, 41);
  border-radius: 5px;
  font-family: roboto;
  padding-left: 4px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#formTitle {
  color: white;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
}

.submitButton {
  border-radius: 5px;
  background-color: rgb(147, 172, 206);
  margin-left: 32px;
  margin-right: 32px;
  height: 40px;
  font-family: roboto;
  color: rgb(30, 47, 35);;
}

.submitButton:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.submitButton:not(:disabled):hover {
  background-color: rgb(147, 172, 206);
  transform: scale(1.05);  
  font-weight: bold;
}

.submitButton:active {
  background-color: rgb(147, 172, 206);
  transform: scale(0.95); 
  font-weight: bold;
}

#no {
margin-left: 16px;
}

