
body {
  background-color: rgb(41, 73, 49);
}

.incidentContainer {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: rgb(41, 73, 49);
}

/* .incident {
  border: thick;
  border-style: dotted;
  border-color: rgb(242, 132, 130);
  display: flex;
  gap: 40px;
  background-color: rgb(245, 202, 195);
}

.icon{
  border-radius: 50%;
  height: 50px;
}

.icon:hover {
  cursor: pointer;
} */