@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


body {
  background-color: rgb(46, 64, 88);
}

.incidentContainer {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: rgb(46, 64, 88);
  margin-bottom: 32px;
  font-family: 'Montserrat', sans-serif;
}

#criticaltitle {
  font-size: 45px;
  font-weight: bold;
  color: rgb(255, 3, 3);
  background-color: rgb(31, 41, 55);
  width: 425px;
  border-radius:  5px;
}

#moderateltitle {
  font-size: 45px;
  font-weight: bold;
  color: rgb(255, 145, 2);
  background-color: rgb(31, 41, 55);
  width: 475px;
  border-radius:  5px;
}

#minortitle {
  font-size: 45px;
  font-weight: bold;
  color: rgb(255, 238, 2);
  background-color: rgb(31, 41, 55);
  width: 385px;
  border-radius:  5px;
}

.criticalIncidents {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.moderateIncidents {
  display: flex;
  flex-direction: column;
  
}

.minorIncidents {
  display: flex;
  flex-direction: column;
}

.incidentDetails {
  background-color: rgb(31, 41, 55);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top:16px;
  padding-bottom: 16px;
}

.personDetails {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
  font-size: 24px;
}

.floodType {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 24px;
}

.incidentContactDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.icon {
  height: 100px;
}

.titleInc {
  font-size: 50px;
}