
body {
  background-color: rgb(46, 64, 88);
}

.incidentContainer {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: rgb(46, 64, 88);
}

#criticaltitle {
  font-size: 32px;
  font-weight: bold;
  color: rgb(255, 0, 0)
}

#moderateltitle {
  font-size: 32px;
  font-weight: bold;
  color: rgb(255, 154, 0)
}

#minortitle {
  font-size: 32px;
  font-weight: bold;
  color: rgb(255, 232, 8)
}

criticalInce

.incident {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.personDetails {
  display: flex;
  gap: 8px;
  align-items: center;
}

.icon{
  height: 30px;
}

.icon:hover {
  cursor: pointer;
}