@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.pageContainer {
  height: 100vh;
  display: flex;
  margin: 32px;
  gap: 16px;
}

.profileInfo {
  padding-top:40px;
  border-color: rgb(223, 229, 238) ;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-radius: 5px;
  background-color: rgb(31, 41, 55);
}

.profilePicture {
  height: 200px;
  border-radius: 50%;
  padding: 0px;
}

.fullName {
  font-size: 30px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: rgb(223, 229, 238) ;
}

.contactDetails {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: rgb(223, 229, 238) ;
}

.responderType {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: rgb(223, 229, 238) ;
}

.chatContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.openChat {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:rgb(223, 229, 238) ;
  border-radius: 5px;
  background-color: rgb(31, 41, 55);
}

.title {
  margin-left:16px;
  font-size: 40px;
  color:rgb(223, 229, 238) ;
  font-family: "Poppins", sans-serif;
}

.incidentInfo {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 32px
}

#incidentTitle{
  font-size: 36px;
}

.chat {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  gap: 36px;
  font-size: 24px;
}

.chatIcon:hover {
 cursor: pointer;
}